.nav {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  margin-left: -108px !important;
  margin-right: -142px !important;
  padding: 5px 25px 5px 15px;

}

.nav h1 {
  color: #fff;
  margin: 0;
  font-size: 40px;
}

.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
  flex: 1;
  color: blueviolet;
  border: 1px solid #fff;
  height: 39px;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
}

.nav .nav-search button {
  color: blueviolet;
  border: 0;
  height: 39px;
  padding-right: 10px;
  background-color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.nav li a:hover {
  color: #ff686e;
}

h1 a {
  text-decoration: none;
  color: #ecc766;
  font-family: Cursive, serif;
}

.search-result {
  position: absolute;
  display: list-item !important;
  z-index: 10;
  background-color: #ffff;
  width: 300px;
  top: 43px;
  border: 1px solid #fff;

}

.search-result li {
  border: 1px solid #ddd;
  padding: 5px;
}

.search-result li a {
  cursor: pointer;
  color: blueviolet;
}
